<p style="color: green"><%= notice %></p>

<%= render @edition %>

<div>
  <%= link_to "Edit this edition", edit_edition_path(@edition) %> |
  <%= link_to "Back to editions", editions_path %>

  <%= button_to "Destroy this edition", @edition, method: :delete %>
</div>
