<p style="color: green"><%= notice %></p>

<%= render @race %>

<div>
  <%= link_to "Edit this race", edit_race_path(@race) %> |
  <%= link_to "Back to races", races_path %>

  <%= button_to "Destroy this race", @race, method: :delete %>
</div>
