<div id="<%= dom_id card %>">
  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Legend:</strong>
    <%= card.legend %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= card.artist_id %>
  </p>

  <p>
    <strong>Card type:</strong>
    <%= card.card_type_id %>
  </p>

  <p>
    <strong>Edition:</strong>
    <%= card.edition_id %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= card.cost %>
  </p>

  <p>
    <strong>Force:</strong>
    <%= card.force %>
  </p>

  <p>
    <strong>Ability:</strong>
    <%= card.ability %>
  </p>

  <p>
    <strong>Rarity:</strong>
    <%= card.rarity_id %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= card.race_id %>
  </p>

</div>
