<tr>
  <th scope="row"><%= card.id %></th>
  <td><%= card.name %></td>
  <td><%= card.card_type&.name %></td>
  <td><%= card.edition&.name %></td>
  <td><%= card.cost %></td>
  <td><%= card.force %></td>
  <td><%= card.race&.name %></td>
</tr>