<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title">Deck <%= deck.id %></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Create a new deck</h6>
  </div>
  <div id="<%= dom_id deck %>">
    <div class="row">
      <div class="col">
        <p>
          <strong>Name:</strong>
          <%= deck.name %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Description:</strong>
          <%= deck.description %>
        </p>
      </div>
      <div class="col">
        <p>
          <strong>Cards count:</strong>
          <%= deck.deck_cards.size %>
        </p>
      </div>
      <div class="col">
        <% deck.deck_cards.group_by { |deck_card| deck_card.card.card_type }.each do |card_type, cards| %>
          <p>
            <strong> <%= card_type.name %>: </strong>
            <%= cards.size %>
          </p>
        <% end  %>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="card-body">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <% if show %>
        <%= link_to "Show this deck", deck, class: 'btn btn-primary btn-sm me-md-22' %>
      <% end %>
      <%= link_to "Back to decks", decks_path, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>
