<p style="color: green"><%= notice %></p>

<%= render @deck %>

<div>
  <%= link_to "Edit this deck", edit_deck_path(@deck) %> |
  <%= link_to "Back to decks", decks_path %>

  <%= button_to "Destroy this deck", @deck, method: :delete %>
</div>
